* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#table {
    border: 2px solid black;
}

#table tr {
    display: flex;
}

#table tr th {
    padding: 1rem 1rem; 
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    width: 220px;
}

#table  td {
    text-align: center;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    padding-bottom: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 170px;;
    width: 220px;
}

#table td img {
    margin-top: .75rem;
}

#peginationButton button {
    padding: .75rem .75rem;
    margin: 1rem .1rem;
    border: none;
}

button:hover {
    background: rgb(3, 243, 3);
}