* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(186, 238, 240);
}

.counter {
    height: 50vh;
    /* border: 2px solid gray; */
    margin: auto;
    text-align: center;
    padding-top: 8rem;
}

#header {
    font-weight: bold;
    font-size: 2rem;
}

#input-box {
    text-align: center; 
    padding: .75rem .75rem;
    margin-top: 1rem;
    /* font-size: 1rem; */
    font-size: 2rem;
    border: none;
    color: green;
    background-color: rgb(186, 238, 240);
   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} 

#input-box:hover {
    transition: all 1s ease-out;
}

 .btn {
    margin-left: 1.5rem;
    margin-top: 1rem;
    padding: .5rem .8rem;
    letter-spacing: .2rem;
    border: 1px solid black;
    border-radius: .4rem;
}

.btn-color {
    border: 1px solid blue;
}

