* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#table {
    border: 2px solid black;
}

#table tr th {
    border: 1px solid gray;
    padding: 1rem 0.75rem;
    width: 200px;
}

#table tr {
    display: flex;
}

#table tr td {
    text-align: center;
    border: 1px solid gray;
    padding: 1rem 1rem;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#table tr:nth-child(even) {
    background-color: rgba(128, 128, 128, 0.192);
}

#pageButton button {
    padding: 0.5rem 0.5rem;
    margin: 1rem .2rem;
    border: none;
}

#pageButton button:hover {
    background-color: green;
}

#searchBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

input {
    padding: .5rem .5rem;
    width: 250px;
    outline: none;
    border: 1px solid gray;
    font-size: 1rem;
    border-radius: 8px;
}

input:focus {
    border: 1px solid green;
}

#search-button {
    padding: .6rem .5rem;
    margin-left: .2rem;
    cursor: pointer;
    background: black;
    color: aliceblue;
    border-radius: 8px;
}